
<button routerLink="/home" >app-home</button><i class="material-icons prefix">account_balance</i><br/><br/>
<button routerLink="/login1" >Login 1</button><i class="material-icons prefix">accessibility</i><br/><br/>
<button routerLink="/login2" >Login 2</button><i class="material-icons prefix">accessible</i><br/><br/>
<button routerLink="/issue" >issue</button><i class="material-icons prefix">airline_seat_recline_extra</i><br/><br/>
<button routerLink="/issue1" >issue 1</button><i class="material-icons prefix">airline_seat_recline_normal</i><br/><br/>
<button routerLink="/issue2" >issue 2</button><i class="material-icons prefix">directions_walk</i><br/><br/>
<button routerLink="/pic2" >pic 2</button><i class="material-icons prefix">directions_run</i><br/><br/>
<button routerLink="/pic4" >pic 4</button><i class="material-icons prefix">directions_bike</i><br/><br/>
<button routerLink="/project2" >project 2</button><i class="material-icons prefix">rowing</i><br/><br/>
<button routerLink="/project3" >project 3</button><i class="material-icons prefix">transfer_within_a_station</i><br/><br/>
<b class="p1">
        <img src="assets/image/w3.jpg">
        <br/>
