<p class="navbar-text navbar-left">
  <img src="assets/image/w4.png" width="90px" height="90px">
  <a href="#" class="navbar-link">Issue</a>
  <a href="#" class="navbar-link">Project</a>
  <a href="#" class="navbar-link">PIC</a>
  <hr width="100%">
<p>

<div class="row">
  <form class="col s12">
    <div class="input-field col s2">
      <select>
        <option value="" disabled selected>PnP Solution</option>
        <option value="1">Option 1</option>
      </select>
      <label>Project</label>
  <form>
  <div>



  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s2">
          <input placeholder="Ann" id="first_name" type="text" class="validate">
          <label for="first_name">Issue By</label>
        </div>

        <div class="row">
          <form class="col s12">
            <div class="input-field col s2">
              <select>
                <option value="" disabled selected>Change Request</option>
                <option value="1">Option 1</option>
              </select>
              <label>Type</label>
          <form>
          <div>



          <div class="input-field col s12 m2">
            <select>
              <option value="" disabled selected>High</option>
              <option value="1">Option 1</option>
            </select>
            <label>Priority</label>
          </div>
          <div class="input-field col s12 m2">
            <select>
              <option value="" disabled selected>Open</option>
              <option value="1">Option 1</option>
            </select>
            <label>Status</label>
          </div>

          <div class="row">
            <form class="col s12">
              <div class="input-field col s4">
                <select>
                  <option value="" disabled selected>Anon Thaicharoenporn</option>
                  <option value="1">Option 1</option>
                </select>
                <label>PIC</label>
            <form>
            <div>




            <div class="row">
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s2">
                    <input placeholder="Target Date" UserCode input type="text" />
                  </div>
                  <div class="input-field col s2">
                    <input placeholder="Close Date" UserCode input type="text" />
                  </div>
              <form>
              <div>

             
                <br>
                <br>
                <br>
                <input type="button" class="button" value="BLACK">
                <input type="button" class="button" value="SAVE">
         

              <script>
                $(document).ready(function () {
                  $('select').material_select();
                });
              </script>
