<button routerLink="/home" >app-home</button>
<button routerLink="/login1" >Login 1</button>
<button routerLink="/login2" >Login 2</button>
<button routerLink="/issue" >issue</button>
<button routerLink="/issue1" >issue 1</button>
<button routerLink="/issue2" >issue 2</button>
<button routerLink="/pic2" >pic 2</button>
<button routerLink="/pic4" >pic 4</button>
<button routerLink="/project2" >project 2</button>
<button routerLink="/project3" >project 3</button>

<router-outlet></router-outlet>


  