<div>
  <p class="navbar-text navbar-left">
      <img src="assets/image/w4.png" width="90px" height="90px">
      <a href="#" class="navbar-link">Issue</a>
      <a href="#" class="navbar-link">Project</a>
      <a href="#" class="navbar-link">PIC</a>
      <hr width="100%">
  <p>



<div  class="col 12 m12 s12 clearfix">
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search Criteria." title="Type in a name">
</div>



<div  class="col 12 m12 s12 clearfix">   
 
  <ul class="row produktliste">
      <li  class="col 12 m12 s12 clearfix">
          <div class="card">
              <div>
                      <img src="image/w4.png"width="150px" height="120px">
              </div>
              <div class="card-content">
                      <a class="btn-floating btn-large waves-effect waves-light yellow">
                              <i class="material-icons">edit</i>
                          </a>
                  <h6><b>Issue 533</b>:ซ่อน-รายละเอียด-ประโยชน์<a><h6>
                  <h6><b>วันที่</b>:28/11/2017<a><h6>
                  <h6><b>สถานะ</b>:open<a><h6>
              <div>
              <div class="card-action row">
                      <i class="material-icons">delete</i>REMOVE
                      <i class="material-icons">attach_file</i>ATTACH
              </div>
          </div>
      <li>
  <ul>  
      
  <ul class="row produktliste">
          <li  class="col 12 m12 s12 clearfix">
              <div class="card">
                  <div>
                          <img src="image/w4.png"width="150px" height="120px">
                  </div>
                  <div class="card-content">
                          <a class="btn-floating btn-large waves-effect waves-light yellow">
                                  <i class="material-icons">edit</i>
                              </a>
                      <h6><b>Issue 533</b>:ซ่อน-รายละเอียด-ประโยชน์<a><h6>
                      <h6><b>วันที่</b>:28/11/2017<a><h6>
                      <h6><b>สถานะ</b>:open<a><h6>
                  <div>
                  <div class="card-action row">
                          <i class="material-icons">delete</i>REMOVE
                          <i class="material-icons">attach_file</i>ATTACH
                  </div>
              </div>
          <li>
  <ul>  
               
      
  <ul class="row produktliste">
              <li  class="col 12 m12 s12 clearfix">
                  <div class="card">
                      <div>
                              <img src="image/w4.png"width="150px" height="120px">
                      </div>
                      <div class="card-content">
                              <a class="btn-floating btn-large waves-effect waves-light yellow">
                                      <i class="material-icons">edit</i>
                                  </a>
                          <h6><b>Issue 533</b>:ซ่อน-รายละเอียด-ประโยชน์</h6>
                          <h6><b>วันที่</b>:28/11/2017</h6>
                          <h6><b>สถานะ</b>:open</h6>
                      </div>
                      <div class="card-action row">
                              <i class="material-icons">delete</i>REMOVE
                              <i class="material-icons">attach_file</i>ATTACH
                      </div>
                  </div>
              </li>
         
  </ul>  
<div>
  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large green">
        <i class="material-icons">add</i>
    </a>
  </div>
</div>
