<p class="navbar-text navbar-left">
  <img src="assets/image/w4.png" width="90px" height="90px">
  <a href="#" class="navbar-link">Issue</a>
  <a href="#" class="navbar-link">Project</a>
  <a href="#" class="navbar-link">PIC</a>
  <hr width="100%">
<p>
<div class="row">
  <div class="input-field col s8">
      <form action="#">
          <div class="file-field input-field">
              <div class="btn">
                  <span>File</span>
                  <input type="file">
              </div>
              <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                  <input type="button" class="button" value="Attach">
              </div>
          </div>
      </form>
      <br>
  </div>
  <table style="width:70%">
      <tr>
          <th>
              <h4>Attach File</h4>
          </th>
          <tr>
              <td>
                  <i class="material-icons">delete</i>DevOps.png
                  <i class="material-icons">send</i>
                  <a>
              <td>
              <tr>
                  <td>
                      <i class="material-icons">delete</i>JavaSpringFW-Workshop.pdf
                      <i class="material-icons">send</i>
                      <a>
                  <td>
                  <tr>
                      <td>
                          <i class="material-icons">delete</i>MEAN-Stack.pptx
                          <i class="material-icons">send</i>
                          </a>
                      </td>
                  </tr>
  <table>
  
      <br>
      <input type="button" class="button" value="BLACK">
  

