<p class="navbar-text navbar-left">
  <img src="assets/image/w4.png" width="90px" height="90px">
  <a href="#" class="navbar-link">Issue</a>
  <a href="#" class="navbar-link">Project</a>
  <a href="#" class="navbar-link">PIC</a>
  <hr width="100%">
<p>

<table class="striped">
  <thead>
    <tr>
      <th>Edit</th>
      <th>Pic Code</th>
      <th>Pic Name</th>
      <th>Pic Value</th>
      <th>Delete</th>

    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <a class="btn-floating btn-large waves-effect waves-light yellow">
          <i class="material-icons">edit</i>
        </a>
      </td>
      <td>1</td>
      <td>Sommai Krangpanich</td>
      <td>pae</td>
      <td>
        <a class="btn-floating btn-large waves-effect waves-light red">
          <i class="material-icons">delete</i>
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a class="btn-floating btn-large waves-effect waves-light yellow">
          <i class="material-icons">edit</i>
        </a>
      </td>
      <td>2</td>
      <td>Chonnisa Thiembundit</td>
      <td>tiew</td>
      <td>
        <a class="btn-floating btn-large waves-effect waves-light red">
          <i class="material-icons">delete</i>
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a class="btn-floating btn-large waves-effect waves-light yellow">
          <i class="material-icons">edit</i>
        </a>
      </td>
      <td>3</td>
      <td>Anon Thaicharoenporn</td>
      <td>non</td>
      <td>
        <a class="btn-floating btn-large waves-effect waves-light red">
          <i class="material-icons">delete</i>
        </a>
      </td>
    </tr>

  </tbody>
</table>
<br>
<br>
<br>
<br>
<br>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large green">
    <i class="material-icons">add</i>
  </a>
</div>
