
    <p class="navbar-text navbar-left">
      <img src="assets/image/w4.png" width="90px" height="90px">
      <a href="#" class="navbar-link">Issue</a>
      <a href="#" class="navbar-link">Project</a>
      <a href="#" class="navbar-link">PIC</a>
      <hr width="100%">
  <p>

  <div class="row">
      <form class="col s12">
          <div class="input-field col s6">
              <input placeholder="Project Code" UserCode input type="text" />
          </div>
  <div>
  <form>

  <div class="row">
      <form class="col s12">
          <div class="input-field col s6">
              <input placeholder="Project Name" UserCode input type="text" />
          </div>
  <div>
  <form>

  <div class="row">
      <div class="input-field col s9">
          <form action="#">
              <div class="file-field input-field">
                  <div class="btn">
                      <span>File</span>
                      <input type="file">
                  </div>
                  <div class="file-path-wrapper">
                      <input class="file-path validate" type="text">
                  </div>
              </div>
          </form>
          <br>

          <h6>Status</h6>

          <p>
              <input class="with-gap" name="group3" type="radio" id="test5" checked />
              <label for="test5">Active</label>
          </p>

          <p>
              <input class="with-gap" name="group3" type="radio" />
              <label for="test5">Inactive</label>
          </p>

        
              <br>
              <br>
              <br>
              <input type="button" class="button" value="BLACK">
              <input type="button" class="button" value="SAVE">
          
