<b class="p1">
    <img src="image/w4.png" width="90px" height="90px">
    <br/>
    <hr width="100%">
    <br/>
    <br/>
</b>
<div>
    <form>
        <i class="material-icons prefix">account_circle</i>
    </form>
    <br/>
    <b>ผู้ดูแลระบบ</b>
    <br/>
    <br/>
    <br/>
    <div class="container">

        <table border="1" cellpadding="15" width="70%">
            <tr>
                <td>
                    <a href="#">Issue
                        <td>
                            <tr>
                                <tr>
                                    <td>
                                        <a href="#">Project
                                            <td>
                                                <tr>
                                                    <tr>
                                                        <td>
                                                            <a href="#">PIC
                                                                <td>
                                                                    <tr>
                                                                        <table>
                                                                            <form>

                                                                                <br>
                                                                                <input type="button" class="button" value="LOGOUT">
                                                                                <div>







                                                                                    <b class="p1">
                                                                                        <img src="image/w4.png" width="90px" height="90px">
                                                                                        <br/>
                                                                                        <hr width="100%">
                                                                                        <br/>
                                                                                    </b>
                                                                                    <div>
                                                                                        <form>
                                                                                            <i class="fa fa-user-circle-o fa-5x"></i>
                                                                                        </form>
                                                                                        <br/>
                                                                                        <b>ผู้ดูแลระบบ</b>
                                                                                        <br/>

                                                                                        <div class="container">

                                                                                            <table border="1" cellpadding="15" width="70%">
                                                                                                <tr>
                                                                                                    <td>
                                                                                                        <a href="#">Issue</a>

                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td>
                                                                                                        <a href="#">Project</a>
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td>
                                                                                                        <a href="#">PIC</a>

                                                                                                    </td>
                                                                                                </tr>
                                                                                            </table>
                                                                                        </div>

                                                                                        <input type="button" class="button" value="LOGOUT">