<!-- <b class="p1">
    <img src="image/w4.png" width="90px" height="90px">
    <br/>
    <hr width="100%">
    <br/>
    <br/>
</b>
<div>
    <form>
        <i class="material-icons prefix">account_circle</i>
    </form>
    <br/>
    <b>ผู้ดูแลระบบ</b>
    <br/>
    <br/>
    <br/>
    <div class="container">

        <table border="1" cellpadding="15" width="70%">
            <tr>
                <td>
                    <a href="#">Issue
                        <td>
                            <tr>
                                <tr>
                                    <td>
                                        <a href="#">Project
                                            <td>
                                                <tr>
                                                    <tr>
                                                        <td>
                                                            <a href="#">PIC
                                                                <td>
                                                                    <tr>
                                                                        <table>
                                                                            <form>

                                                                                <br>
                                                                                <input type="button" class="button" value="LOGOUT">
                                                                                <div>







                                                                                    <b class="p1">
                                                                                        <img src="image/w4.png" width="90px" height="90px">
                                                                                        <br/>
                                                                                        <hr width="100%">
                                                                                        <br/>
                                                                                    </b>
                                                                                    <div>
                                                                                        <form>
                                                                                            <i class="fa fa-user-circle-o fa-5x"></i>
                                                                                        </form>
                                                                                        <br/>
                                                                                        <b>ผู้ดูแลระบบ</b>
                                                                                        <br/>

                                                                                        <div class="container">

                                                                                            <table border="1" cellpadding="15" width="70%">
                                                                                                <tr>
                                                                                                    <td>
                                                                                                        <a href="#">Issue</a>

                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td>
                                                                                                        <a href="#">Project</a>
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td>
                                                                                                        <a href="#">PIC</a>

                                                                                                    </td>
                                                                                                </tr>
                                                                                            </table>
                                                                                        </div>

                                                                                        <input type="button" class="button" value="LOGOUT"> -->

<div class="container">
<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input disabled value="I am not editable" id="disabled" type="text" class="validate">
          <label for="disabled">Disabled</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          This is an inline input field:
          <div class="input-field inline">
            <input id="email" type="email" class="validate">
            <label for="email" data-error="wrong" data-success="right">Email</label>
          </div>
        </div>
      </div>
    </form>
  </div>

  <table class="bordered">
    <thead>
      <tr>
          <th>Name</th>
          <th>Item Name</th>
          <th>Item Price</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Alvin</td>
        <td>Eclair</td>
        <td>$0.87</td>
      </tr>
      <tr>
        <td>Alan</td>
        <td>Jellybean</td>
        <td>$3.76</td>
      </tr>
      <tr>
        <td>Jonathan</td>
        <td>Lollipop</td>
        <td>$7.00</td>
      </tr>
    </tbody>
  </table>
</div>
